# Plex configuration
TZ=Australia/Adelaide
PLEX_CLAIM=claim-snr1oxbhTb-cu-uf3uxH
# NVIDIA_VISIBLE_DEVICES=all
# NVIDIA_DRIVER_CAPABILITIES=all
PLEX_UID=1026
PLEX_GID=101
CHANGE_CONFIG_DIR_OWNERSHIP=false
